messages-actions.json
[
  {
    "id": "7a103b8d.6a72c4",
    "type": "tab",
    "label": "Flow 4",
    "disabled": false,
    "info": ""
  },
  {
    "id": "1148e54e.90e04b",
    "type": "inject",
    "z": "7a103b8d.6a72c4",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 320,
    "y": 180,
    "wires": [["44599631.1dc378"]]
  },
  {
    "id": "44599631.1dc378",
    "type": "change",
    "z": "7a103b8d.6a72c4",
    "name": "",
    "rules": [{ "t": "delete", "p": "payload", "pt": "msg" }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 530,
    "y": 180,
    "wires": [["43ccc82e.7756c8"]]
  },
  {
    "id": "43ccc82e.7756c8",
    "type": "debug",
    "z": "7a103b8d.6a72c4",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 730,
    "y": 180,
    "wires": []
  },
  {
    "id": "5ad5e412.02637c",
    "type": "inject",
    "z": "7a103b8d.6a72c4",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "topic": "Hello",
    "payload": "",
    "payloadType": "date",
    "x": 340,
    "y": 300,
    "wires": [["a28f85e.a6af278"]]
  },
  {
    "id": "a28f85e.a6af278",
    "type": "change",
    "z": "7a103b8d.6a72c4",
    "name": "",
    "rules": [
      { "t": "move", "p": "topic", "pt": "msg", "to": "payload", "tot": "msg" }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 540,
    "y": 300,
    "wires": [["82fdd7a4.7ec948"]]
  },
  {
    "id": "82fdd7a4.7ec948",
    "type": "debug",
    "z": "7a103b8d.6a72c4",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "false",
    "x": 730,
    "y": 300,
    "wires": []
  },
  {
    "id": "de2ffdc9.18b78",
    "type": "inject",
    "z": "7a103b8d.6a72c4",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "topic": "",
    "payload": "0",
    "payloadType": "num",
    "x": 310,
    "y": 440,
    "wires": [["bee0d371.00db9"]]
  },
  {
    "id": "bee0d371.00db9",
    "type": "range",
    "z": "7a103b8d.6a72c4",
    "minin": "0",
    "maxin": "1023",
    "minout": "0",
    "maxout": "5",
    "action": "clamp",
    "round": false,
    "property": "payload",
    "name": "",
    "x": 530,
    "y": 480,
    "wires": [["4e88eda4.a89584"]]
  },
  {
    "id": "d81e5571.ca78a8",
    "type": "inject",
    "z": "7a103b8d.6a72c4",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "topic": "",
    "payload": "512",
    "payloadType": "num",
    "x": 310,
    "y": 480,
    "wires": [["bee0d371.00db9"]]
  },
  {
    "id": "476d7843.e02c98",
    "type": "inject",
    "z": "7a103b8d.6a72c4",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "topic": "",
    "payload": "1023",
    "payloadType": "num",
    "x": 310,
    "y": 520,
    "wires": [["bee0d371.00db9"]]
  },
  {
    "id": "4e88eda4.a89584",
    "type": "debug",
    "z": "7a103b8d.6a72c4",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "false",
    "x": 730,
    "y": 480,
    "wires": []
  },
  {
    "id": "8aa6ace5.f6c93",
    "type": "comment",
    "z": "7a103b8d.6a72c4",
    "name": "адаптация одного числового значения к другому",
    "info": "",
    "x": 430,
    "y": 380,
    "wires": []
  },
  {
    "id": "80cba33a.8ef33",
    "type": "comment",
    "z": "7a103b8d.6a72c4",
    "name": "перемещение значения из одного сообщения в другое",
    "info": "",
    "x": 450,
    "y": 240,
    "wires": []
  },
  {
    "id": "8762c43c.652ed8",
    "type": "comment",
    "z": "7a103b8d.6a72c4",
    "name": "удаление значения из свойства сообщения",
    "info": "",
    "x": 410,
    "y": 120,
    "wires": []
  },
  {
    "id": "4a493731.9810b8",
    "type": "comment",
    "z": "7a103b8d.6a72c4",
    "name": "СООБЩЕНИЯ",
    "info": "",
    "x": 150,
    "y": 60,
    "wires": []
  }
]
