route.json
[
  {
    "id": "7a103b8d.6a72c4",
    "type": "tab",
    "label": "Flow 4",
    "disabled": false,
    "info": ""
  },
  {
    "id": "4a493731.9810b8",
    "type": "comment",
    "z": "7a103b8d.6a72c4",
    "name": "ROUTE",
    "info": "**Вам нужно направить сообщение к нужной ноде исходя от того, какое значение находится в его свойстве «msg.topic».** Например, у вас есть нода «MQTT», подписанная на несколько датчиков, и вам нужно направить эти сообщения к разным нодам «ui_gauge» модуля «node-red-dashboard».\n**Решение**\nЭто можно выполнить с помощью ноды **«Switch»**, которая при получении сообщения сверяется со своими правилами, а затем отправляет сообщение на порт, соответствующий этим правилам.",
    "x": 120,
    "y": 60,
    "wires": []
  },
  {
    "id": "2b39d050.e84a3",
    "type": "switch",
    "z": "7a103b8d.6a72c4",
    "name": "Route ",
    "property": "topic",
    "propertyType": "msg",
    "rules": [
      { "t": "eq", "v": "temperature", "vt": "str" },
      { "t": "eq", "v": "humidity", "vt": "str" },
      { "t": "eq", "v": "pressure", "vt": "str" }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 3,
    "x": 490,
    "y": 260,
    "wires": [["b3ff5ee4.21c29"], ["d8e5b80f.437388"], ["9eecbdec.4df0b"]]
  },
  {
    "id": "ae817adc.647a88",
    "type": "inject",
    "z": "7a103b8d.6a72c4",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "temperature",
    "payload": "27",
    "payloadType": "num",
    "x": 300,
    "y": 220,
    "wires": [["2b39d050.e84a3"]]
  },
  {
    "id": "6c94a5d2.ec06ac",
    "type": "inject",
    "z": "7a103b8d.6a72c4",
    "name": "",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "humidity",
    "payload": "45",
    "payloadType": "num",
    "x": 290,
    "y": 260,
    "wires": [["2b39d050.e84a3"]]
  },
  {
    "id": "b3ff5ee4.21c29",
    "type": "debug",
    "z": "7a103b8d.6a72c4",
    "name": "Temperature",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 670,
    "y": 220,
    "wires": []
  },
  {
    "id": "d8e5b80f.437388",
    "type": "debug",
    "z": "7a103b8d.6a72c4",
    "name": "Humidity",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 660,
    "y": 260,
    "wires": []
  },
  {
    "id": "9eecbdec.4df0b",
    "type": "debug",
    "z": "7a103b8d.6a72c4",
    "name": "Pressure",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 660,
    "y": 300,
    "wires": []
  },
  {
    "id": "daa0298.389e9d8",
    "type": "inject",
    "z": "7a103b8d.6a72c4",
    "name": "",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "pressure",
    "payload": "1001",
    "payloadType": "num",
    "x": 290,
    "y": 300,
    "wires": [["2b39d050.e84a3"]]
  },
  {
    "id": "eee74b68.9cc918",
    "type": "inject",
    "z": "7a103b8d.6a72c4",
    "name": "Inject",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 270,
    "y": 520,
    "wires": [["aec2160f.b6b1f8"]]
  },
  {
    "id": "aec2160f.b6b1f8",
    "type": "switch",
    "z": "7a103b8d.6a72c4",
    "name": "Context based routing",
    "property": "state",
    "propertyType": "flow",
    "rules": [
      { "t": "eq", "v": "1", "vt": "num" },
      { "t": "eq", "v": "2", "vt": "num" },
      { "t": "eq", "v": "3", "vt": "num" }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 3,
    "x": 480,
    "y": 520,
    "wires": [["4f9f4a20.24cf34"], ["1ef66400.37a83c"], ["ad3ae1f8.fa867"]]
  },
  {
    "id": "4f9f4a20.24cf34",
    "type": "debug",
    "z": "7a103b8d.6a72c4",
    "name": "Output 1",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "auto",
    "x": 720,
    "y": 460,
    "wires": []
  },
  {
    "id": "1ef66400.37a83c",
    "type": "debug",
    "z": "7a103b8d.6a72c4",
    "name": "Output 2",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "x": 720,
    "y": 520,
    "wires": []
  },
  {
    "id": "ad3ae1f8.fa867",
    "type": "debug",
    "z": "7a103b8d.6a72c4",
    "name": "Output 3",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "auto",
    "x": 720,
    "y": 580,
    "wires": []
  },
  {
    "id": "efa8dab8.d85a08",
    "type": "inject",
    "z": "7a103b8d.6a72c4",
    "name": "Set state 0",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "0",
    "payloadType": "num",
    "x": 280,
    "y": 600,
    "wires": [["dcdcf17d.8c02c"]]
  },
  {
    "id": "4d966c1e.bb55e4",
    "type": "inject",
    "z": "7a103b8d.6a72c4",
    "name": "Set state 1",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "1",
    "payloadType": "num",
    "x": 280,
    "y": 640,
    "wires": [["dcdcf17d.8c02c"]]
  },
  {
    "id": "432c37c2.e27498",
    "type": "inject",
    "z": "7a103b8d.6a72c4",
    "name": "Set state 2",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "2",
    "payloadType": "num",
    "x": 280,
    "y": 680,
    "wires": [["dcdcf17d.8c02c"]]
  },
  {
    "id": "21449860.dc44f8",
    "type": "inject",
    "z": "7a103b8d.6a72c4",
    "name": "Set state 3",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "3",
    "payloadType": "num",
    "x": 280,
    "y": 720,
    "wires": [["dcdcf17d.8c02c"]]
  },
  {
    "id": "dcdcf17d.8c02c",
    "type": "change",
    "z": "7a103b8d.6a72c4",
    "name": "Set flow.state",
    "rules": [
      { "t": "set", "p": "state", "pt": "flow", "to": "payload", "tot": "msg" }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 500,
    "y": 640,
    "wires": [[]]
  },
  {
    "id": "3f037f70.641c7",
    "type": "comment",
    "z": "7a103b8d.6a72c4",
    "name": "Вам нужно направить сообщение по нужному маршруту исходя из значения, в данный момент хранящегося в контексте потока.",
    "info": "",
    "x": 630,
    "y": 400,
    "wires": []
  },
  {
    "id": "8425e489.fafa68",
    "type": "comment",
    "z": "7a103b8d.6a72c4",
    "name": "маршрут для сообщения исходя из значения в его свойстве",
    "info": "",
    "x": 410,
    "y": 160,
    "wires": []
  }
]
